#footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
    font-size: 90%;
    .footer-body{
       padding-bottom: 10px;
    }
}